body
{
  font-family: "Tahoma", Times, serif;
  background-color: #eeeeee;
  /*background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px 500px;*/
}
.header
{
  text-align: center;
}

.sites_list
{
  display: flex;
  justify-content: center;
}

.site
{
  width:300px;
  height: 300px;
  margin: 5px 5px 5px 5px;

}
